<!DOCTYPE html>
<html>
<head>
	<title>Colour Guessing Game</title>

	<link rel="stylesheet" type="text/css" href="10.css">
</head>
<body>
<div class="header">
		<h2 id="tg">THE GREAT</h2>
		<h1 id="rgbh">RGB(175,120,23)</h1>
		<h2>GUESSING GAME</h2>
</div>
<a href="/1">1</a>
<div class="bar">
		<div class="baritem" id="newclr"><button id="newclrbt">NEW COLORS</button></div>
		<div class="baritem" id="message"></div>
		<div class="baritem"><button id="easy">EASY</button> <button id="hard">HARD</button></div>
</div>
<div class="container">

	<div class="bottom">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
	</div>
</div>
{{> footer}}
<script type="text/javascript" src="10.js"></script>
</body>
</html>
